<footer class="bg-gray-950 text-white py-8 px-4 sm:px-6 lg:px-8">
    <div class="div-one">
        <div class="div-grid">
            <div>
                <h3 class="div-h3">EduConnect S.A.C</h3>
                <p class="div-p">
                    Donde el conocimiento y el éxito se encuentran.
                </p>
                <div class="div-icons">
                    <a href="#" class="div-icons-a">
                        <img alt="Facebook" src="assets/FaFacebook.svg" class="div-icons-img" />
                    </a>
                    <a href="#" class="div-icons-a">
                        <img src="assets/FaTwitter.svg" class="div-icons-img" />
                    </a>
                    <a href="#" class="div-icons-a">
                        <img src="assets/FaInstagram.svg" class="div-icons-img" />
                    </a>
                </div>
            </div>

            <div>
                <h4 class="div-h4">Planes</h4>
                <ul class="div-icons-a">
                    <li>
                        <a routerLink="/basico">Básico</a>
                    </li>
                    <li>
                        <a routerLink="/premium">Premium</a>
                    </li>
                    <li>
                        <a routerLink="/superpremium">Super Premium</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="div-h4">Contacto</h4>
                <ul class="div-icons-a">
                    <li>
                        <a routerLink="/">Quiero ser asesor</a>
                    </li>
                    <li>
                        <a routerLink="/">Otro</a>
                    </li>
                    <li>
                        <a routerLink="/">Otro</a>
                    </li>
                    <li>
                        <a routerLink="/">Otro</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="div-h4">Nosotros</h4>
                <ul class="div-icons-a">
                    <li>
                        <a routerLink="/">Blog</a>
                    </li>
                    <li>
                        <a routerLink="/">Guía</a>
                    </li>
                    <li>
                        <a routerLink="/">Testimonios</a>
                    </li>
                    <li>
                        <a routerLink="/">Licencia</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="div-two">
            <p>
                Hecho con ❤️ EduConnect.
                <br />
                Héctor Vega - Jean Coaquira - Jhonatan Fernandez - Giancarlo Vasquez
            </p>
        </div>
    </div>
</footer>