header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    /* Color oscuro sólido para mayor contraste */
    color: white;
    padding: 1em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;

    img {
        width: 50px;
        height: auto;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding-right: 25px;
    }

    nav ul li {
        display: flex;
        align-items: center;
    }

    nav ul li a,
    nav ul li button {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 0.5rem;
        /* Redondeado para enlaces */
    }

    nav ul li a:hover,
    nav ul li button:hover {
        background-color: #333333;
        /* Color oscuro más claro para el hover */
    }

    nav ul li button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        /* Transiciones para botones */
    }

    nav ul li button:hover {
        color: white;
        background-color: #333333;
        /* Color oscuro más claro para el hover */
        border-color: #ffd700;
        /* Borde amarillo dorado */
    }
}