.not-found-section {
    background: url('../../../../public/assets/5156047.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .not-found-content {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        /* Fondo blanco semi-transparente */
        padding: 2rem;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        /* Efecto de desenfoque en el fondo */
    }

    .not-found-title {
        font-size: 3rem;
        color: #094d32;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        margin-bottom: 1rem;
    }

    .not-found-message {
        font-size: 1.5rem;
        color: #4b5563;
    }
}