<section class="section">
    <div class="section-div">
        <div class="div-body">
            <div class="div-title">
                <h2 class="div-title-h2">Nuestros Planes de Suscripción</h2>
                <p class="div-title-p">
                    Elige el plan que mejor se adapte a tus necesidades de aprendizaje.
                </p>
            </div>

            <!-- Tarjetas de Planes -->
            <div class="div-body">
                <!-- Tarjeta Plan Básico -->
                <div class="plan-card">
                    <div class="plan-header">Básico</div>
                    <div class="plan-price">$49.99</div>
                    <ul class="plan-features">
                        <li>Acceso a asesorías personalizadas</li>
                        <li>Soporte en horario laboral</li>
                        <li>Foro</li>
                        <li>Acceso limitado a material de la biblioteca</li>
                        <li>Comentarios y evaluaciones sobre asesorías</li>
                    </ul>
                    <button class="plan-button">Suscribirse</button>
                </div>

                <!-- Tarjeta Plan Premium -->
                <div class="plan-card highlighted">
                    <div class="plan-header">Premium</div>
                    <div class="plan-price">$79.99</div>
                    <ul class="plan-features">
                        <li>Acceso ilimitado a la biblioteca virtual</li>
                        <li>Soporte 24hs</li>
                        <li>Acceso a reportes de notas y comentarios del alumno</li>
                        <li>El número del sr. Vásquez</li>
                    </ul>
                    <button class="plan-button">Suscribirse</button>
                </div>

                <!-- Tarjeta Plan Super ArchiMegaPremium -->
                <div class="plan-card">
                    <div class="plan-header">Super ArchiMegaPremium</div>
                    <div class="plan-price">$119.99</div>
                    <ul class="plan-features">
                        <li>Asesorías múltiples en 1 día</li>
                        <li>Capacitación Soporte 24hs</li>
                        <li>Elección de Asesores</li>
                        <li>El número del CEO Jhonatan Fernandez para llamarlo directamente</li>
                        <li>Acceso al código fuente</li>
                        <li>Acceso a la casa del sr. Vásquez</li>
                        <li>Acceso a party de 5 de divine a +</li>
                    </ul>
                    <button class="plan-button">Suscribirse</button>
                </div>
            </div>
        </div>
    </div>
</section>