<main>
    <section class="section-1">
        <h1 class="section-1-h1">Donde el conocimiento y el éxito se encuentran</h1>
        <img src="https://st2.depositphotos.com/2379655/7898/i/450/depositphotos_78986424-stock-photo-curious-school-student-reading-a.jpg"
            alt="" class="section-1-img" />
    </section>
    <section class="section-2">
        <div>
            <h2>Nuestros Éxitos</h2>
            <p>Estamos orgullosos de la enseñanza que brindan nuestros asesores, pendientes siempre de la educación que
                se imparte a los alumnos</p>
        </div>
        <div class="section-2-div2">
            <p class="div2-p">12K+ Estudiantes</p>
            <p class="div2-p">500+ Asesores</p>
            <p class="div2-p">200+ Cursos</p>
            <p class="div2-p">50+ Proyectos</p>
        </div>
    </section>
    <section class="section-3">
        <h2>¿Qué es Educconect?</h2>
        <p class="section-3-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa et optio repudiandae
            commodi pariatur atque?</p>
        <div class="section-3-div1">
            <div class="section-3-div1-div" style="background-image: url('../../assets/AlumnoOscuro.jpeg')">
                <h3 class="section-3-h3">Para estudiante</h3>
                <button class="section-3-but">Comenzar clases hoy</button>
            </div>
            <div class="section-3-div1-div" style="background-image: url('../../assets/ProfesorOscuro.jpeg')">
                <h3 class="section-3-h3">Para asesor</h3>
                <button class="section-3-but">Comenzar a enseñar hoy</button>
            </div>
        </div>
    </section>
</main>