<div class="editar-usu-main">
  <div *ngIf="usuario" class="editar-usuario-container">
    <h2>Editar Usuario</h2>
    <form (ngSubmit)="actualizarUsuario()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="usuario.nombre" name="nombre" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput [(ngModel)]="usuario.correo" name="correoElectronico" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit">Actualizar Usuario</button>
    </form>
  </div>
</div>

